@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  text-align: left;
  width: 90%;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

h1 {
  letter-spacing: 0.5cm;
  line-height: 1.8;
  margin: auto;
  padding: 50px;
}

.container-slide {
  display: flex;
  background-color: #eeeeee;
  padding: 30px 0;
}
i {
  color: #000000;
  width: auto;
  margin-left: 0;
}
.container-description {
  margin: 40px auto;
}

.container-description p {
  margin: 0;
}

.container-quotes {
  display: flex;
  width: 80%;
  margin: 50px auto;
}

.container-quotes span {
  background-color: #f4eeee;
  display: grid;
  justify-content: center;
  width: 25%;
  padding: 72px;
}
.container-quotes span:hover {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.container-end p {
  margin: auto 0;
}
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
